/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
svg.ext,
svg.mailto{
	display: none;
}


/* Style */

html {
	height: 100%;
	font-family: 'Poppins', sans-serif;
	background-color: rgb(255, 215, 222);
	color: rgb(20, 82, 40);
}

a, a:active, a::after{
	text-decoration: none;
	color: rgb(20, 82, 40);
}
a:hover{
	text-decoration: none;
	
	color: rgb(175, 46, 46);
}

main{
	display: flex;
	height: 100vh;
	width : 100%;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.title {
	font-size: 5em;
	padding-bottom: 15px;
	margin: 0 90px;
}

.social-icons i {
	padding: 10px;
	font-size: 3em;
}


@media (max-width: 992px) {
	.title  {
		font-size: 3em;
	}
	.social-icons i {
		padding: 5px;
		font-size: 1.5em;
	}
}


@media (max-width: 576px) {
	.title  {
		font-size: 2em;
	}
	.social-icons i {
		padding: 5px;
		font-size: 1.5em;
	}
}

