/* RESET /////////////////////////////// */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ////////////////////////////////////////////////////
SYLE////////////////////////////////////////////////////
//////////////////////////////////////////////////// */

/* FONT /////////////////////////////// */
@font-face {
  font-family: "Agrandir-l";
  src: url("font/Agrandir-l.ttf") format("truetype");
}
@font-face {
  font-family: "Agrandir-m";
  src: url("font/Agrandir-m.ttf") format("truetype");
}

/* GENERAL /////////////////////////////// */

body {
  font-family: "Agrandir-m";
  background-color: #edeae4;
  padding: 10px;
}

/* LIENS /////////////////////////////// */
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(154, 8, 232);
}

/* IMG /////////////////////////////// */
img {
  width: 100%;
  height: auto;
}
.logo {
  width: 30px;
  height: auto;
}

/* CONTAINER /////////////////////////////// */
.container {
  width: 100%;
  height: 100%;
}
.subtitle {
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding-bottom: 100px;
}
.intro {
  font-size: 1em;
  line-height: 1em;
  padding-bottom: 10px;
}

/* TITRE /////////////////////////////// */
h1 {
  font-size: 3.1em;
  font-family: "Agrandir-m";
  white-space: nowrap;
}
h2 {
  font-size: 3em;
}

/* SEPARATEUR/////////////////////////////// */
hr {
  border: 1px solid black;
  margin: 10px 0;
}

/* MEDIA QUERIES /////////////////////////////// */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 6em;
    text-align: left;
  }
  h2 {
    font-size: 4em;
  }
  img .photo {
    width: 100%;
    height: auto;
  }
  .intro {
    text-align: left;
    padding-bottom: 10px;
  }
  .subtitle {
    font-size: 1em;
  }
  .contact a,
  .contact p {
    display: block;
    text-align: center;
    justify-content: space-around;
  }
  .contact {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
  }
}
@media only screen and (min-width: 900px) {
  h1 {
    font-size: 8em;
  }
  h2 {
    font-size: 7em;
  }
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 9em;
  }
  h2 {
    font-size: 8em;
  }
  img {
    width: 100%;
    height: auto;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(11, auto);
    /* grid-gap: 10px; */
    align-items: start;
    grid-template-areas:
      "sub            sub"
      "intro           intro"
      "img            ."
      "section-1        section-1"
      "section-2        section-2"
      "section-3        section-3"
      "section-contact  section-contact";
  }

  header {
    grid-area: sub;
  }
  .intro {
    grid-area: intro;
    padding-right: 50px;
  }
  .photo {
    grid-area: img;
  }
  .section-1 {
    grid-area: section-1;
  }
  .section-2 {
    grid-area: section-2;
  }
  .section-3 {
    grid-area: section-3;
  }
  .section-contact {
    grid-area: section-contact;
  }
}

@media only screen and (min-width: 1090px) {
  h1 {
    font-size: 9em;
  }
  h2 {
    font-size: 8em;
  }
}
@media only screen and (min-width: 1120px) {
  h1 {
    font-size: 10em;
  }
  h2 {
    font-size: 9em;
  }
}
@media only screen and (min-width: 1325px) {
  h1 {
    font-size: 11em;
  }
  h2 {
    font-size: 10em;
  }
}
@media only screen and (min-width: 1435px) {
  h1 {
    font-size: 13em;
  }
  h2 {
    font-size: 11em;
  }
}
